services:
  database:
    build: .
    image: datyredb:latest
    container_name: datyre_server
    restart: unless-stopped
    ports:
      - "7432:7432"
    volumes:
      - ./data:/var/lib/datyre
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
